@charset "UTF-8";
/* RESET */
html, body, div, span,
object, iframe, h1, h2,
h3, h4, h5, h6, p, blockquote,
pre, a, abbr, address, cite, code,
del, dfn, em, font, img, ins, kbd,
q, samp, small, strong, sub, sup,
var, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, header, nav,
article, aside, footer, hgroup, section {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    text-decoration: none;
}

:focus, :active {
    outline: 0px
}

ol, ul {
    list-style: none
}

blockquote:before, blockquote:after {
    content: ""
}

blockquote {
    quotes: "" ""
}

header, nav, article, aside, footer, hgroup, section {
    display: block
}

/* Clearfix */
.clearfix:after {
    visibility: hidden;

    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix {
    zoom: 1;
}

/* IE6 */
*:first-child+html .clearfix {
    zoom: 1;
}

/* IE7 */

/* @FONT-FACE */
@font-face {
    font-family: ubuntuFonts;
    src: url('fonts/Ubuntu-M.ttf');
}

@font-face {
    font-family: monospace;
    src: url('fonts/UbuntuMono-R.ttf');
}

@font-face {
    font-family: Sansation_Light;
    src: url('fonts/Sansation_Light.ttf'), url('fonts/Sansation_Light.eot'); /* IE9+ */
}

@font-face {
    font-family: 'Colaborate-RegularRegular';
    src: url('fonts/ColabReg-webfont.eot');
    src: local('☺'), url('fonts/ColabReg-webfont.woff') format('woff'), url('fonts/ColabReg-webfont.ttf') format('truetype'), url('fonts/ColabReg-webfont.svg#webfont') format('svg');
}

@font-face {
    font-family: 'HighlandGothicLightFLFRegular';
    src: url('fonts/HighlandGothicLightFLF-webfont.eot');
    src: local('☺'), url('fonts/HighlandGothicLightFLF-webfont.woff') format('woff'), url('fonts/HighlandGothicLightFLF-webfont.ttf') format('truetype'), url('fonts/HighlandGothicLightFLF-webfont.svg#webfont') format('svg');
}

/* TYPOGRAPHY */
html {
    background-color: #ffffff;
}

body {
    width: 99%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    /*  margin: 0 auto;*/
    color: #ffffff;
    font: 12px/18px Corbel, Arial, Helvetica, sans-serif;
    text-align: justify;
}

p {
    margin-bottom: 18px;
    font-size: 16px;
    color: #000000;
    font-family: sans-serif;
}

p.left {
    text-align: left;
}

p.center {
    text-align: center;
}

strong {
    font-weight: bold
}

em {
    font-style: italic
}

a {
    color: #077CE3;
    text-decoration: none;

}

a.nodec {
    color: #077CE3;
    text-decoration: none;

}

a:hover {
    border-bottom: 1px solid #000000
}

a:active {
    border-bottom: 2px solid #000
}

h1 {
    /*font: 24px/36px;*/
    font-size: 2em;
    font-family: ubuntuFonts;
    padding-left: 2%;
    /*Colaborate-RegularRegular, "Trebuchet MS", Arial, Helvetica, sans-serif*/
}

h1.centered {
    text-align: center;
}

h3.centered {
    text-align: center;
}

.newLine {
    display: block
}

/*TODO FIX THIS is thead text form in contact*/
.text-form {
    float: left;
    display: block;
    font-size: 14px;
    width: 73px;
    line-height: 1.78em;
    color: #0f0f0f
}

/* My CLASSES */
.h4blueInline {
    font-size: 23px;
    line-height: 1.2em;
    color: #305FA1;
    letter-spacing: -1px;
    margin-bottom: 20px;
    display: inline-block;
}

.h3c {
    font: 24px/36px Colaborate-RegularRegular, "Trebuchet MS", Arial, Helvetica, sans-serif
}

.p4Black {
    margin-bottom: 45px;
    color: #000;
}

.p4Error {
    font-size: 20px;
    margin-bottom: 70px;
    color: #900;
    font-weight: 700;

}

.borderRegError {
    border-color: #900;
}

.p4Error strong {
    font-size: 15px;
    margin-bottom: 70px;
    font-weight: 400;
}

.errorSmall {
    color: #900;
    font-weight: 600;
}

.errorTopMsg {
    color: #F03;
    font-weight: 600;
}

.infoTopMsg {
    color: #090;
    font-weight: 600;
}

/* Header */
header section {
    float: left;
    /*  margin: 0 0  30px;
/*width: 50%;
float: left;

/*background: #DEDEDE;
padding: 20px;

border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
box-shadow: 0 0 10px #305FA1;
-moz-box-shadow: 0 0 10px #305FA1;
-webkit-box-shadow: 0 0 10px #305FA1;*/

}

header section:first-child {
    margin-left: 0;
}

header#topHeader {
    height: 130px;
}

/* Header Group */
hgroup {
    margin: 15px 0 0px;
}

hgroup h1 {
    font: 40px/54px HighlandGothicLightFLFRegular, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #011633;
    text-shadow: -1px -1px 0 #000000, 0 0 10px rgba(255, 255, 255, 0.7);
}

hgroup h1 a:hover {
    border: none
}

hgroup h2 {
    font: 14px/20px Colaborate-RegularRegular, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #024C69;
}

/* Navigation */
nav#global {
    margin: 0; /*top middleMiddle bottom */
    /*border-top-right-radius: 5px;*/
    /*-moz-border-top-right-radius: 5px;*/
    /*-webkit-border-top-right-radius: 5px;*/
    /*border-top-left-radius: 5px;*/
    /*-moz-border-top-left-radius: 5px;*/
    /*-webkit-border-top-left-radius: 5px;*/

    width: 99%;
    margin-left: auto;
    margin-right: auto;

    background-color: #011633;
    border-bottom-right-radius: 20px;
    -moz-border-bottom-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    -moz-border-bottom-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    /*

    background-image: -moz-linear-gradient(top, #ca0000, #000000);
     background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ca0000),color-stop(1, #000000));
     */
    /*   box-shadow: inset 0 0 15px #000, 0 0 20px #B5C7C6, inset 0 35px 35px -18px #000000;
        -moz-box-shadow: inset 0 0 15px #900, 0 0 20px #B5C7C6;
        -webkit-box-shadow: 0 0 20px #B5C7C6;
    */
}

nav#global ul {
    text-align: center;

    /*  height: 40px;*/
    margin: 0 auto;
    display: table;
    list-style-type: none;
    padding: 0px;
}

nav#global ul li {
    position: relative;
    display: inline;
    float: left;
}

nav#global ul li a {
    width: 6em;
    text-decoration: none;
    font-size: 14px;
    display: block;
    text-transform: uppercase;
    line-height: 45px;
    padding: 0 15px;
    color: #fff;
}

nav#global ul li a:hover {
    border: none;
    font-weight: bold;
    box-shadow: inset 0 0 15px #000, inset 0 -35px 35px -18px #305FA1;
    -moz-box-shadow: inset 0 0 15px #000;
    background-image: -moz-linear-gradient(bottom, #305FA1, #305FA1);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #305FA1), color-stop(1, #305FA1));

}

#top-panel, #search-panel {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    font-size: 1.5em;
    background-color: #011633;
    color: #ddd;
    line-height: 45px;

}

/*Search Panel*/
#search-panel {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    background-color: #ffffff;
    color: #ddd;
    line-height: 45px;
    margin-bottom: 35px;
    /*margin-top: 10px;*/
}

#search-panel input, #contact-panel input, textarea {
    border-style: solid;
    border-color: #a5a5a5;
    text-align: center;
    line-height: 20px;
    width: 15em;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#contact-panel textarea {
    border-width: 2px;
    text-align: left;
    line-height: 20px;
    width: 35em;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #f4f4f4;
}

#simpleSearchLoggedIn {
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*#search-panel #advancedSearchLoggedIn input{*/
/*display: block;*/
/*margin-left: auto;*/
/*margin-right: auto;*/
/*}*/

#search-panel #advancedSearchLoggedIn label {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #011633;
    font-size: 0.8em;
    font-family: monospace;
}

#search-panel  #toggleSearchButton {
    position: relative;
    top: 70px;

}

#contact-panel label {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #011633;
    font-size: 1.4em;
    padding-right: 10px;
    font-family: monospace;
    vertical-align: top;
}

#contact-panel input, textarea {
    margin-left: 10px;
    resize: none;
    /*display: block;*/
}

button {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #ffffff;
    color: #555555;
    font-weight: bold;
    /*height:30px;*/
    text-decoration: none;
    vertical-align: middle;

    line-height: 20px;
    border-style: solid;
    width: 9em;
}

button.searchButton {

    background: url(images/search.png);
    background-repeat: no-repeat;
    background-position: right;

}

.footerPusher {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-top: 4em;
}

button.clearButton {
    background: url(images/clear.png);
    background-repeat: no-repeat;
    background-position: right;
}

button.sendButton {
    background: url(images/send.png);
    background-repeat: no-repeat;
    background-position: right;
}

.toggleSearchButton {
    background: url(images/advanced_search.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 34.3em;
    line-height: 20px;
    border-style: solid;
    display: block;
    /*text-align: center;*/
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    color: #011633;
    border-color: #a5a5a5;
    /*background-color: ;*/
}

#top-panel #top-panel-title {
    color: #ffffff;
    font-family: sansation_light;
    font-weight: normal;
    font-size: 2em;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

}

/* Login Panel */
#login-panel {

    display: inline-block;
    position: relative;
    left: 88%;
    top: -85px;

    margin-right: auto;
    /*background-color: #011633;*/
    text-align: center;
    color: white;
    line-height: 45px;

    /*  border-bottom-right-radius: 5px;
   -moz-border-bottom-right-radius: 5px;
   -webkit-border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
   -moz-border-bottom-left-radius: 5px;
   -webkit-border-bottom-left-radius: 5px;*/

    /*display: none;*/
}

/* Login Panel */
#login-panel-loggedin {

    display: inline-block;
    position: relative;
    /*    left:50%;
    top:10px;*/
    left: -0.8em;

    margin-right: auto;
    margin-left: auto;
    /*background-color: #011633;*/
    text-align: center;
    color: #DEDEDE;

    /*display: none;*/

    line-height: 45px;
    width: 8em;
    display: block;
    color: white;
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
}

input {
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    background-color: #f4f4f4;
    color: #011633;
}

/* todo */
#login-panel input {
    line-height: 20px;
    width: 8em;
    display: block;
    background-color: #f4f4f4;
    color: #011633;
    font-size: 1.2em;
    text-align: center;
}

input::-webkit-input-placeholder {
    color: #999;
}

input:-moz-placeholder {
    color: #999;
}

input:-ms-input-placeholder {
    color: #999;
}

#login-panel input::-webkit-input-placeholder {
    color: #999;
}

#login-panel input:-moz-placeholder {
    color: #999;
}

#login-panel input:-ms-input-placeholder {
    color: #999;
}

#login-panel #login-panel-submit {
    line-height: 20px;
    width: 8em;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    display: block;
    color: white;

    /*left: 2.5em;*/
    /*top:50px;*/
    position: absolute;
    font-size: 1.3em;
}

/*#login-panel-submit-filled */
#login-panel #login-panel-submit-filled {
    line-height: 20px;
    width: 8em;

    display: block;
    color: #305FA1;
    font-weight: bold;
    background-color: transparent;
    /*left: 2.5em;*/
    /*top:50px;*/
    position: absolute;
    font-size: 1.3em;
    border: none;

}

#login-panel #login-panel-submit-logout {
    line-height: 20px;
    width: 8em;

    display: block;
    color: tomato;
    font-weight: bold;
    background-color: transparent;
    /*left: 2.5em;*/
    /*top:50px;*/
    left: -0.5em;
    position: absolute;
    font-size: 1.5em;
    border: none;

}

.toast-message {
    position: fixed;
    top: 90px;
    left: 50%;
    width: 20em;
    margin-left: -10em;
    border: 1px solid #666;
    background-color: #B1BCCF;
    background-image: url("images/close_icon.png");
    background-repeat: no-repeat;
    background-position: right;

    padding: 2px 0;
    text-align: center;
    font-size: 1.2em;
    opacity: 0.9;
    display: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    z-index: 10;
    /*The good stuff */
    /*-webkit-transition: opacity 0.5s ease-out;  *//* Saf3.2+, Chrome */
    /*-moz-transition: opacity 0.5s ease-out;  *//* FF4+ */
    /*-ms-transition: opacity 0.5s ease-out;  *//* IE10? */
    /*-o-transition: opacity 0.5s ease-out;  *//* Opera 10.5+ */
    /*transition: opacity 0.5s ease-out;*/

}

#error {
    background-color: #ff6347;
    display: none;
}

#info {
    background-color: green;
    display: none;

}

/* TODO this invisible*/
#notoast {
    background-color: transparent;
    border: none;
    display: none;

}

/* MAIN  size tou grizou!*/
#content {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
    background-color: #ffffff;
    /*margin-right: 30px;
    float: left;
    */
}

article {

    background-color: #ffffff;
    /*background: #DEDEDE;*/
    margin: 0 0 5px 0;
    padding-top: 7px;
    padding-left: 20px;
    padding-right: 20px;
    /*padding-bottom:20px;*/
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    /*box-shadow: 0 0 10px #305FA1;*/
    /*-moz-box-shadow: 0 0 10px #305FA1;*/
    /*-webkit-box-shadow: 0 0 10px #305FA1;*/
}

article header {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 100%;
    color: #ffffff;
    height: 40px;
    /*margin-bottom: 5px;*/
    background-color: #305FA1;
    /*box-shadow: inset 0 -35px 35px -18px #B5C7C6;
        /*background-image: -moz-linear-gradient(top, #0081ac, #305FA1);
        background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #0081ac),color-stop(1, #305FA1));
    */
}

article header h1 {
    line-height: 40px;
    /* article title */
    margin-left: 30px;
}

article header h1 {
    float: left
}

article .mainContentCentered {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

article .mainContent {
    width: 90%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

article .mainContent#downloadsDevices {
    width: 70%;
    margin-left: 5%;
    margin-right: 20%;
    /*margin-right: ;*/
}

article .mainContent#contactContent {
    margin-left: 5%;

}

.comments {
    font-size: 16px;
    font-weight: bold;
    float: right;
    line-height: 40px;
    width: 60px;
    height: 40px;
    text-align: center;
    background-color: #011633;
    /*background-color: rgba(151, 0, 0, 0.4);*/
    border-radius: 10px;
    -moz-border-radius: contactContent 10px;
    -webkit-border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: inset 0 0 10px rgba(50, 50, 50, 0.5);
}

footer p {
    margin: 0px;
}

.tags {
    -o-transition: all 0.9s ease-in-out;
    -moz-transition: all 0.9s ease-in-out;
    -webkit-transition: all 0.9s ease-in-out;
    padding: 0 3px;
    margin-right: 3px;
    font-variant: small-caps;
    font-size: 14px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.tags:hover {
    background-color: #011633;
    color: #ddd;
    border: none;
}

.button {
    display: block;
    float: left;
    color: #ffffff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 0 10px 0 35px;
    height: 34px;
    line-height: 34px;
    /*margin-top: -32px;*/
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    background-color: #011633;
    box-shadow: inset 0 35px 35px -18px #305FA1, inset 3px 0 12px #600;
    /*background-image: -moz-linear-gradient(top, #ca0000, #011633);
     background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ca0000),color-stop(1, #011633));

     -o-transition: all 0.5s ease-out;
     -moz-transition: all 0.5s ease-out;
     -webkit-transition: all 0.5s ease-out;
     */

    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.button:before {
    content: "";
    background-color: #DEDEDE;
    position: absolute;
    top: 0;
    left: -10px;
    height: 34px;
    width: 30px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

/*TODO CHANGE*/
.button:hover {
    border: none;
    box-shadow: inset 0 -35px 35px -18px #305FA1, inset 3px 0 12px #600;
    /*background-image: -moz-linear-gradient(top, #011633, #ca0000);
     background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #011633),color-stop(1, #ca0000));*/
    padding-left: 30px
}

#imageLogo {
    border: none;
    text-decoration: none;
    top: 0px;
    position: absolute;

}

/* SIDEBAR */
aside {
    color: #011633;
    width: 260px;
    font-size: 16px;
    float: right;
    background: #DEDEDE;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 10px #305FA1;
    -moz-box-shadow: 0 0 10px #305FA1;
    -webkit-box-shadow: 0 0 10px #305FA1;
}

aside h1, footer h1 {
    font-size: 18px;
    line-height: 28px;
    height: 28px;
    margin-bottom: 10px;
    background-color: #305FA1;
    box-shadow: inset 0 -28px 35px -18px #305FA1;
    /*background-image: -moz-linear-gradient(top, #0081ac, #305FA1);
     background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #0081ac),color-stop(1, #305FA1));*/
    color: #fff;
    padding: 0 10px;
    border: 1px solid #6e7e93;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
}

aside nav, aside section {
    margin: 0 0 25px 0;
    padding: 0;
    background: none;
}

aside section:last-child {
    margin-bottom: 0
}

#inTouch li {
    display: block;
    background: #fff;
    margin-bottom: 5px;
    height: 26px;
    line-height: 26px;
    border: 1px solid #d9d4b8;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#inTouch li span {
    display: block;
    float: left;
    text-align: center;
    width: 70px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #fff;
}

.twitter {
    background-color: #4da3bf;
    box-shadow: inset 0 35px 35px -18px #73b6cc;
    background-image: -moz-linear-gradient(bottom, #4da3bf, #73b6cc);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #4da3bf), color-stop(1, #73b6cc));
}

/*TODO RM*/
.rss {
    background-color: #d98b3c;
    box-shadow: inset 0 35px 35px -18px #e1a467;
    background-image: -moz-linear-gradient(top, #e1a467, #d98b3c);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e1a467), color-stop(1, #d98b3c));
}

.links li {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
    text-align: left;
    border-bottom: 1px solid #305FA1;
    -o-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}

.links li:hover {
    margin-left: 5px
}

.links li a:hover {
    border: none
}

#qrcode {
    margin-top: 25px;
    text-align: left;
    width: 120px;
    height: 120px;
    padding: 5px 5px;
    border-radius: 5px;
    background-color: #305FA1;
    margin-bottom: 25px;
    position: absolute;
    right: 10%;
    top: 28%;
    cursor: url("images/qrcursor.cur"), wait;

    /*
     font-size: 20px;
     font-style: italic;
     line-height: 26px;
     color: #fff;
         position: relative;

     position: relative;

     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     /*box-shadow: inset 0 100px 50px -50px #0081ac;
     /*background-image: -moz-linear-gradient(top, #0081ac, #305FA1);
     background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #0081ac),color-stop(1, #305FA1));
     z-index: 3;*/
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

#qrcode:before {
    position: absolute;
    /*	bottom: -29px;
     left: 20px;
     width: 0;
     height: 30px;
 /*	border-right: 60px solid #305FA1;*/
    /*	background: #305FA1;
     /*border-bottom-right-radius: 70px 50px;
     -moz-border-radius-bottomright: 70px 50px;
     -webkit-border-bottom-right-radius: 70px 50px;
     z-index: 2;*/
}

#qrcode:after {
    position: absolute;
    bottom: -3px;
    left: 2px;
    width: 10px;
    height: 10px;

    /*border-bottom-right-radius: 40px 50px;
     -moz-border-radius-bottomright: 40px 50px;
     -webkit-border-bottom-right-radius: 40px 50px;*/
    z-index: 2;
}

#qrcode:hover {
    /*TODO MOUSE*/
    transform: scale(1.2);
    -o-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

/* Carousel */
#mycarousel {

}

/* Handle Images */
#deptImage {
    position: absolute;
    left: 10%;

}

#orgImage {
    position: absolute;

    right: 10%;
}

#mycarousel .carouselImage {

    border: none;

    /*margin-top: 5px;*/
    /*margin-bottom: 5px;*/
    color: #940033;
    display: inline-block;

    position: relative;

    /*top:-155px;*/

    -o-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;

}

.imageHandle {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #940033;
    display: inline-block;

    position: relative;

    /*top:-155px;*/

    /*-o-transition: all 0.5s ease-out;*/
    /*-moz-transition: all 0.5s ease-out;*/
    /*-webkit-transition: all 0.5s ease-out;*/

}

.imageHandle:before {
    position: absolute;
    /*	bottom: -29px;
     left: 20px;
     width: 0;
     height: 30px;
 /*	border-right: 60px solid #305FA1;*/
    /*background: #305FA1;*/
    /*border-bottom-right-radius: 70px 50px;*/
    /*-moz-border-radius-bottomright: 70px 50px;*/
    /*-webkit-border-bottom-right-radius: 70px 50px;*/
    /*z-index: 2;*/
}

.imageHandle:after {
    position: absolute;

    /*border-bottom-right-radius: 40px 50px;*/
    /*-moz-border-radius-bottomright: 40px 50px;*/
    /*-webkit-border-bottom-right-radius: 40px 50px;*/
    /*z-index: 2;*/
}

.imageHandle:hover {
    border: none;

    /*transform: scale(1.2);*/
    /*-o-transform: scale(1.2);*/
    /*-moz-transform: scale(1.2);*/
    /*-webkit-transform: scale(1.2);*/
}

.textHandle {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 30px;
    display: inline-block;
    -o-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;

}

.textHandle:before {
    position: absolute;
    /*	bottom: -29px;
     left: 20px;
     width: 0;
     height: 30px;
 /*	border-right: 60px solid #305FA1;*/
    /*	background: #305FA1;
     /*border-bottom-right-radius: 70px 50px;
     -moz-border-radius-bottomright: 70px 50px;
     -webkit-border-bottom-right-radius: 70px 50px;
     z-index: 2;*/
}

.textHandle:after {
    position: absolute;

    /*border-bottom-right-radius: 40px 50px;
     -moz-border-radius-bottomright: 40px 50px;
     -webkit-border-bottom-right-radius: 40px 50px;*/
    z-index: 2;
}

.textHandle:hover {
    border: none;

    /*transform:  scale(1.1);*/
    /*-o-transform: scale(1.1);*/
    /*-moz-transform: scale(1.1);*/
    /*-webkit-transform: scale(1.1);*/
}

/* FOOTER */
footer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}

footer section {
    width: 260px;
    float: left;
    margin: 0 0 30px 30px;
    background: #DEDEDE;
    padding: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 10px #305FA1;
    -moz-box-shadow: 0 0 10px #305FA1;
    -webkit-box-shadow: 0 0 10px #305FA1;

}

footer section:first-child {
    margin-left: 0
}

#comments li {
    border-bottom: 1px solid #305FA1;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
}

#comments li .newLine {
    font-size: 12px;
    text-align: right;
}

footer#downfooter {
    margin-top: 0px;

}

.copyright {
    height: 40px;
    text-align: center;
    padding-top: 30px;
    font-size: 1.1em;
    font-weight: bold;
    color: #011633;

}

a.nodec {
    text-decoration: none;
    color: inherit;
    border: 0px;
}

a.nodec:hover {
    color: #077CE3;
}

/*Github widget Style*/
.github-widget p.description {
    font-size: 1.1em;
    font-family: sans-serif;

}

/*Github widget Style*/
.github-widget p.link {
    padding-top: 15px;
    font-size: 1.0em;
    /*font-family: sans;*/
    text-align: center;

}

.github-widget p.link a, .github-widget .description a {
    color: #6e7e93;
}

.github-widget p.link a:hover, .github-widget .description a:hover {
    color: #077CE3;
}